*__pycache__*

# plotly dashboard
plotly/config.json
plotly/cache/
plotly/build/
plotly/dist/
plotly/*.spec

netboot/
winpe/

# preset buildings
preset/build/
preset/build32/
preset/build64/

# thrift generation
*gen-cpp*
*gen-py*
